include ../part-header.pug
main.flex-grow
	.p-1.p-t-0
		.section.width-max-readable.m-auto
			h1 Send broadcast
		.section.width-max-readable.m-auto.m-b-3
			.box.p-l-1.p-r-1.p-b-1
				h3 Who should get the broadcast?
				hr
				div#lists-container
					p: strong Which list are you sending to?
					button#list-lists-button.button.main Load your available mailing lists
					div#lists-list
include ../part-footer.pug
