footer.footer
	p.width-max-readable.m-auto.p-1.p-t-3.p-b-3.t
		small
			| Grow Your List is an open-source project for cost-effecitvely sending
			| email using with AWS. Visit the Grow Your List Project on 
			a(href='https://github.com/growyourlist' rel='noopener noreferrer') GitHub
