doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Grow Your List! - Admin
	body.flex.flex-direction-column
		header.p-1.background-color-main.text-color-white
			.header-content.grid.grid-2-column-m768.align-items-center.width-max-readable.m-auto
				h1.site-heading Grow Your List! - Admin
				ul.site-menu.menu.text-align-right-m768.p-l-0p3.unstyled-links.horizontal
					li
						a(href='/') Home
					li
						a(href='/broadcast') Broadcast
					li
						a(href='/lists') Lists
		main.flex-grow
			#site-error-container(style='display:none')
				.p-1
					#site-error.p-0p3.p-l-1.p-r-1.width-max-readable.m-l-auto.m-r-auto
						p 
			.p-1.p-t-0
				div
